<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>clobs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>clobs.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>clobs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>clobs.servlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>clobs.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintenanceServlet</display-name>
    <servlet-name>MaintenanceServlet</servlet-name>
    <servlet-class>clobs.servlet.MaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceServlet</servlet-name>
    <url-pattern>/MaintenanceServlet</url-pattern>
  </servlet-mapping>
</web-app>